.heading-btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 100vw;
    background: var(--clr-primary-400);
    color: var(--clr-background-400);
    padding: 1rem 1rem;
    margin-top: 5rem;
    transition: background-color .5s ease-out;

    &:hover {
        background: vaR(--clr-neutral-100);
    }

}